<button class="button mt-3 btn-actions-catalog" data-price="<%= price %>" data-title="<%= title %>" data-number="<%- GetInfo.catalogo.whatsapp['number'] %>" data-action="<%- GetInfo.catalogo.button['action'] %>">
    <%- GetInfo.catalogo.button['text'] %> </button>