      <!-- MENU OPTIONS GENERATE BY AP EN HEADER.EJS
      <div class="hidden lg:block">
        <ul class="flex flex-col gap-2 my-2 lg:mb-0 lg:mt-0 lg:flex-row lg:items-center lg:gap-6">
          <% menuOptions.forEach(function(item) { %>
            <% if (item.children && item.children.length > 0) { %>
              <li class="relative nav-item">
                <a href="#" class="nav-link" role="button">
                  <span class="nav-link-title"><%= item.title %></span>
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-4 h-4 absolute right-0 top-1/2 transform -translate-y-1/2">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                  </svg>
                </a>
                <div class="absolute hidden bg-gray-700 text-white mt-2 rounded-md shadow-lg z-10">
                  <% item.children.forEach(function(child) { %>
                    <a href="<%= child.customSelect %>" class="block px-4 py-2 text-sm hover:bg-gray-600"><%= child.title %></a>
                  <% }); %>
                </div>
              </li>
            <% } else { %>
              <li class="block p-1 font-sans text-sm antialiased font-medium leading-normal text-blue-gray-900">
                <a href="<%= item.customSelect %>" class="flex items-center transition-colors hover:text-blue-500" target="" rel="noopener">
                  <%= item.title %>
                </a>
              </li>
            <% } %>
          <% }); %>
        </ul>
      </div>
      -->
      

      EN INDEX.EJS 
        
  <!-- <%- include('header', { menuOptions: menuOptions}) %>-->


  <!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" dir="ltr"
  data-theme="theme-default" data-assets-path="./assets/" data-template="vertical-menu-template">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="<%- contentHTML %>">
  <meta name="keywords" content="Palabras clave relacionadas con tu página">
  <meta name="author" content="Creceidea.pe">

  <!-- Metadatos para Facebook -->
  <meta property="og:title" content="<%= pageTitle %>">
  <meta property="og:description" content="<%- contentHTML %>">
  <meta property="og:image" content="URL de la imagen que deseas mostrar">
  <meta property="og:url" content="URL de tu página">
  <meta property="og:type" content="website">

  <!-- Metadatos para Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="<%= pageTitle %>">
  <meta name="twitter:description" content="<%- contentHTML %>">
  <meta name="twitter:image" content="URL de la imagen que deseas mostrar">

  <!-- Favicon -->
  <link rel="icon" type="image/x-icon" href="/img/favicon/favicon.ico" />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&ampdisplay=swap"
    rel="stylesheet" />

  <!-- Icons -->
  <link rel="stylesheet" href="/assets/core/fonts/materialdesignicons.css" />
  <link rel="stylesheet" href="/assets/core/fonts/flag-icons.css" />

  <!-- Menu waves for no-customizer fix -->
  <link rel="stylesheet" href="/assets/core/libs/node-waves/node-waves.css" />

  <!-- Core CSS -->
  <link rel="stylesheet" href="/assets/core/css/rtl/core.css" class="template-customizer-core-css" />
  <link rel="stylesheet" href="/assets/core/css/rtl/theme-default.css" class="template-customizer-theme-css" />
  <link rel="stylesheet" href="/assets/css/demo.css" />

  <!-- cores CSS -->
  <link rel="stylesheet" href="/assets/core/libs/perfect-scrollbar/perfect-scrollbar.css" />
  <link rel="stylesheet" href="/assets/core/libs/typeahead-js/typeahead.css" />
  <link rel="stylesheet" href="/assets/core/libs/swiper/swiper.css" />

  <!-- Page CSS -->
  <link rel="stylesheet" href="/assets/core/css/pages/ui-carousel.css" />
  <!-- Helpers -->
  <script src="/assets/core/js/helpers.js"></script>
  <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
  <!--? Template customizer: To hide customizer set displayCustomizer value false in config.js.  -->

  <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
  <script src="/assets/js/config.js"></script>

  <title>
    <%= pageTitle %>
  </title>


  <style>
    .bg-gray-200 {
      background-color: #666;
    }

    .card {

      background-color: #fff;
      border: none;
      border-radius: 10px;
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }

    .image-container {

      position: relative;
    }

    .thumbnail-image {
      border-radius: 10px !important;
    }


    .discount {

      background-color: red;
      padding-top: 1px;
      padding-bottom: 1px;
      padding-left: 4px;
      padding-right: 4px;
      font-size: 10px;
      border-radius: 6px;
      color: #fff;
    }

    .wishlist {

      height: 25px;
      width: 25px;
      background-color: #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .first {

      position: absolute;
      width: 100%;
      padding: 9px;
    }


    .dress-name {
      font-size: 13px;
      font-weight: bold;
      width: 75%;
    }


    .new-price {
      font-size: 13px;
      font-weight: bold;
      color: red;

    }

    .old-price {
      font-size: 8px;
      font-weight: bold;
      color: grey;
    }


    .btn {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      padding: 3px;
    }

    .creme {
      background-color: #fff;
      border: 2px solid grey;


    }

    .creme:hover {
      border: 3px solid grey;
    }

    .creme:focus {
      background-color: grey;

    }


    .red {
      background-color: #fff;
      border: 2px solid red;

    }


    .red:hover {
      border: 3px solid red;
    }

    .red:focus {
      background-color: red;
    }



    .blue {
      background-color: #fff;
      border: 2px solid #40C4FF;
    }

    .blue:hover {
      border: 3px solid #40C4FF;
    }

    .blue:focus {
      background-color: #40C4FF;
    }

    .darkblue {
      background-color: #fff;
      border: 2px solid #01579B;
    }

    .darkblue:hover {
      border: 3px solid #01579B;
    }

    .darkblue:focus {
      background-color: #01579B;
    }

    .yellow {
      background-color: #fff;
      border: 2px solid #FFCA28;
    }

    .yellow:hover {
      border-radius: 3px solid #FFCA28;
    }

    .yellow:focus {
      background-color: #FFCA28;
    }


    .item-size {
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background: #fff;
      border: 1px solid grey;
      color: grey;
      font-size: 10px;
      text-align: center;
      align-items: center;
      display: flex;
      justify-content: center;
    }


    .rating-star {
      font-size: 10px !important;
    }

    .rating-number {
      font-size: 10px;
      color: grey;

    }

    .buy {
      font-size: 12px;
      color: purple;
      font-weight: 500;
    }

    .voutchers {
      background-color: #fff;
      border: none;
      border-radius: 10px;
      width: 190px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      overflow: hidden;

    }

    .voutcher-divider {

      display: flex;

    }

    .voutcher-left {
      width: 60%
    }

    .voutcher-name {
      color: grey;
      font-size: 9px;
      font-weight: 500;
    }

    .voutcher-code {
      color: red;
      font-size: 11px;
      font-weight: bold;
    }

    .voutcher-right {
      width: 40%;
      background-color: purple;
      color: #fff;
    }

    .discount-percent {
      font-size: 12px;
      font-weight: bold;
      position: relative;
      top: 5px;
    }

    .off {
      font-size: 14px;
      position: relative;
      bottom: 5px;
    }
  </style>

</head>

<body class="bg-gray-200 text-gray-600 work-sans leading-normal text-base tracking-normal">

  <%- include('header') %>
    <%- include('parts/' + contentTemplate) %>
      <%- include('footer') %>


</body>
<!-- Core JS -->
<!-- build:js assets/assets/core/js/assets/core.js -->
<script src="/assets/core/libs/jquery/jquery.js"></script>
<script src="/assets/core/libs/popper/popper.js"></script>
<script src="/assets/core/js/bootstrap.js"></script>
<script src="/assets/core/libs/node-waves/node-waves.js"></script>
<script src="/assets/core/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
<script src="/assets/core/libs/hammer/hammer.js"></script>
<script src="/assets/core/libs/i18n/i18n.js"></script>
<script src="/assets/core/libs/typeahead-js/typeahead.js"></script>
<script src="/assets/core/js/menu.js"></script>


<!-- cores JS -->
<script src="/assets/core/libs/swiper/swiper.js"></script>
<!-- Main JS -->
<script src="/assets/js/main.js"></script>
<!-- Page JS -->
<script src="/assets/js/ui-carousel.js"></script>

</html>
