<button class="button mt-3 get_detail_product" 
data-price="<%= price %>" 
data-title="<%= title %>"
data-slug="<%= slug %>"
data-number="<%- GetInfo.catalogo.whatsapp['number'] %>"
data-action="<%- GetInfo.catalogo.button['action'] %>">
    <%- GetInfo.catalogo.button['text'] %> 
</button>