<% productsData.forEach(product=> { %>

    <div class="bg-white shadow-md overflow-hidden card_product rounded-2xl h-full ">
      <div class="relative">
        <% if (product.price.sale && product.price.sale !== 0 && product.price.regular !== product.price.sale) { %>
          <span class="absolute top-3 left-3 capitalize text-xs text-white bg-red-500 rounded px-2 py-1">Off</span>
          <% } else { %>   

            <% } %>
        
        <img src="<%- product.image_default[0] %>" alt="<%= product.title %>" class="h-[180px] md:h-56 w-full object-cover">
      </div>

      <div class="pt-3 pb-3 px-3.5">
        <h1 class="text-md md:text-lg leading-none md:leading-normal font-semibold mb-1"> <%= product.title %></h1>
        <p class="card-text text-muted description"><%- product.description_short %></p>
        
        <% if (GetInfo.type_store=="product") { %>
        <p class="mt-2 mb-2 ">
          <% if (product.price.sale && product.price.sale !== 0 && product.price.regular !== product.price.sale) { %>
            
            <%= product.price.tag %>
            <span class="text-xs md:text-lg text-gray-400 line-through mr-1"><%- GetInfo.catalogo.currency['symbol'] %> <%= product.price.sale.toFixed(2) %></span>
            <span class="text-lg text-red-600 font-semibold"><%- GetInfo.catalogo.currency['symbol'] %> <%= product.price.regular.toFixed(2) %></span>
        <% } else { %>            
                <strong><%- GetInfo.catalogo.currency['symbol'] %></strong>
                <span class="text-lg text-blank-600 font-semibold"> <%= product.price.regular.toFixed(2) %></span>
            
        <% } %>
         
          </p>
          <% } %>
          <div class="flex gap-2 flex-col lg:flex-row mt-3">
            <div >
            <%- include('./btn_whatsapp_direct', { GetInfo: GetInfo, title: product.title, slug: product.slug, price: product.price.regular.toFixed(2) }) %>
          </div>
          <% if (GetInfo.type_store=="product" ) { %>
            <%- include('./btn_add_cart', { GetInfo: GetInfo, title: product.title, slug:
              product.slug, price: product.price.regular.toFixed(2) }) %>

              <% } else { %>
                <%- include('./button', { GetInfo: GetInfo, title: product.title, slug:
                  product.slug, price: product.price.regular.toFixed(2) }) %>

              <% } %>
        </div>
      </div>
    </div>
  
  <% }) %>