<% productsData.forEach(product=> { %>
  <div class="col-6 col-md-3 mb-5">
    <div class="bg-white shadow-md overflow-hidden rounded-2xl h-full ">
      <div class="relative">
        <% if (product.price.sale && product.price.sale !== 0 && product.price.regular !== product.price.sale) { %>
          <span class="absolute top-3 left-3 capitalize text-xs text-white bg-red-500 rounded px-2 py-1">Off</span>
          <% } else { %>   

            <% } %>
        
        <img src="<%- product.image_default[0] %>" alt="Rent Savings" class="h-[150px] md:h-56 w-full object-cover">
      </div>

      <div class="pt-3 pb-3 px-3.5">
        <h1 class="text-md md:text-lg leading-none md:leading-normal font-semibold mb-1"> <%= product.title %></h1>
        <p class="card-text text-muted description"><%- product.description_short %></p>
        <p class="mt-2 mb-2 ">
          <% if (product.price.sale && product.price.sale !== 0 && product.price.regular !== product.price.sale) { %>
            
            <%= product.price.tag %>
            <span class="text-xs md:text-lg text-gray-400 line-through mr-1"><%- GetInfo.catalogo.currency['symbol'] %> <%= product.price.sale.toFixed(2) %></span>
            <span class="text-lg text-red-600 font-semibold"><%- GetInfo.catalogo.currency['symbol'] %> <%= product.price.regular.toFixed(2) %></span>
        <% } else { %>            
                <strong><%- GetInfo.catalogo.currency['symbol'] %></strong>
                <span class="text-lg text-blank-600 font-semibold"> <%= product.price.regular.toFixed(2) %></span>
            
        <% } %>
         
          </p>
          <% if (product.is_available) { %>
            <%- include('./button_modal', { GetInfo: GetInfo, title: product.title, slug: product.slug, price: product.price.regular.toFixed(2) }) %>
        <% } else { %>
            <p class="text-danger">No disponible</p>
        <% } %>
      </div>
    </div>
  </div>
  <% }) %>