<section class="banner-catalog">
    <div class="logo-header">
        <a href="/">
            <img style="height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: cover;width: 160px;"
                src="<%- GetInfo.logo %>" alt="">
        </a>
    </div>
    <div class="banner-container">
        <div class="inner-banner">
            <h2 class="titulo-catalog"><%- pageTitle %> </h2>
        </div>

    </div>
</section>
<%- include('./navbar', { navbar: navbar}) %>
    <section class="container-xxl pt-4">
        <% function generatePagination(dataProducts) { %>
            <% const totalPages=dataProducts.totalPages; %>
                <% const currentPage=dataProducts.page; %>
                    <ul class="pagination m-5 d-flex justify-content-center">
                        <!-- Botón "Anterior" -->
                        <% if (currentPage> 1) { %>
                            <li class="page-item disabled"> <a href="" class="page-link"> <svg
                                        xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24"
                                        viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                                        stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <path d="M15 6l-6 6l6 6"></path>
                                    </svg> Anterior</a></li>
                            <% } %>

                                <!-- Botones de páginas -->
                                <% for (let i=1; i <=totalPages; i++) { %>
                                    <li class="page-item <%= i === currentPage ? 'active' : '' %>"> <a
                                            href="/catalog?page=<%= i %>" class="page-link">
                                            <%= i %>
                                        </a></li>
                                    <% } %>

                                        <!-- Botón "Siguiente" -->
                                        <% if (currentPage < totalPages) { %>
                                            <li class="page-item disabled"> <a href="" class="page-link"> Siguiente <svg
                                                        xmlns="http://www.w3.org/2000/svg" class="icon" width="24"
                                                        height="24" viewBox="0 0 24 24" stroke-width="2"
                                                        stroke="currentColor" fill="none" stroke-linecap="round"
                                                        stroke-linejoin="round">
                                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                                        <path d="M9 6l6 6l-6 6"></path>
                                                    </svg></a></li>
                                            <% } %>
                    </ul>
                    <% } %>
                        <div class="container-products-catalog">
                            <div class="row">
                                <% if (dataProducts.products.length===0) { %>
                                    <section class="no-products">
                                        <h2>No hay productos disponibles en este momento</h2>
                                    </section>

                                    <% } else { %>

                                        <%- include('./card_product', { productsData: dataProducts.products,
                                            GetInfo:GetInfo }) %>
                                            <% } %>
                            </div>
                            <div class="row">
                                <div class="col-12">

                                    <%- generatePagination(dataProducts) %>
                                </div>

                            </div>
                        </div>
    </section>



    <div class="modal modal-blur fade" id="modal-large" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Detalle de producto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-7">
                            <div id="carousel-indicators-thumb" class="carousel slide carousel-fade"
                                data-bs-ride="carousel">
                                <div class="carousel-indicators carousel-indicators-thumb" id="carouselIndicators">
                                </div>
                                <div class="carousel-inner" id="carouselInner"> </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <h3 class="title mt-4"></h3>
                            <p class="detail-product"></p>
                            <div class="d-grid gap-2">

                            <button type="button" class="btn btn-primary btn-actions-catalog" data-title="" data-price=""
                            data-action="" data-bs-dismiss="modal">Cotizar producto</button>
                        </div>
                        </div>
                    </div>

                </div>
              
            </div>
        </div>
    </div>