<div class="home">
<section class="hero-slider hero-style ml-3  mr-3">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <% for (let i=0; i < banners.length; i++) { %>
        <div class="swiper-slide">
          <div class="slide-inner slide-bg-image" data-background="<%- banners[i].image %>">
            <div class="container">
              <div data-swiper-parallax="300" class="slide-title">
                <h2><%- banners[i].text %> </h2>
              </div>
              <% for (let j=0; j < banners[i].button.length; j++) { %>
                <% const button=banners[i].button[j]; %>
                  <% if (button.show) { %>
                    <% if (button.action==="modal" ) { %>
                      <button type="button" class="button" data-bs-toggle="modal"
                        data-bs-target="<%- button.destino %>">
                        <%= button.text_button %>
                      </button>
                      <% } else if (button.action==="href" ) { %>
                        <a href="<%- button.destino %>" class="rounded-full  button-catalog  text-center static button text-md">
                          <%- button.text_button %>
                        </a>
                        <% } %>
                          <% } %>
                            <% } %>
                              <div class="clearfix"></div>

            </div>
          </div>
        </div>
        <% } %>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>

<%- include('./navbar', { navbar: navbar}) %>

  
    <div class="container container-products-catalog">
      <div class="grid lg:grid-cols-4 md:grid-cols-3 grid-cols-2 lg:gap-5 md:gap-5 gap-3 ">
        <%- include('./card_product', { productsData: dataProducts.products, GetInfo:GetInfo }) %>
      </div>
    </div>

</div>