<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title><%- GetInfo.title %> | <%- GetInfo.slogan %></title>
  <link href="/dist/css/tabler.min.css?1684106062" rel="stylesheet" />
  <link rel="stylesheet" href="/styles?v=<%-v%>" />
  <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
  <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <meta name="description" content="<%- GetInfo.meta_description %>">
  <meta name="keywords" content="<%- GetInfo.meta_keyword %>">
  <meta name="author" content="<%- GetInfo.title %>">
  <meta name="robots" content="index, follow">
  <meta name="referrer" content="no-referrer-when-downgrade">

  <style>
    :root {
      --primary-color: <%- GetInfo.colors[0] %>;
      --secondary-color: <%- GetInfo.colors[1] %>;
      --accent-color: <%- GetInfo.colors[2] %>;
    }

    .social-links svg {
      width: 25px;
    }
  </style>
</head>

<body>

  <div class="page">
    <div class="page-wrapper">
      <div class="page-body mb-0">
        <%- include('header') %>
          <section class="container-fluid  d-flex flex-column justify-content-center">
            <%- include('parts/' + contentTemplate) %>
          </section>

          <%- include('footer') %>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/dist/js/tabler.min.js?1684106062" defer></script>
    <script src="/dist/js/swiper.min.js"></script>
    <script>
      var menu = [];
      jQuery('.swiper-slide').each(function (index) {
        menu.push(jQuery(this).find('.slide-inner').attr("data-text"));
      });
      var interleaveOffset = 0.5;
      var swiperOptions = {
        loop: true,
        speed: 1000,
        parallax: true,
        autoplay: {
          delay: 6500,
          disableOnInteraction: false,
        },
        watchSlidesProgress: true,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },

        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        on: {
          progress: function () {
            var swiper = this;
            for (var i = 0; i < swiper.slides.length; i++) {
              var slideProgress = swiper.slides[i].progress;
              var innerOffset = swiper.width * interleaveOffset;
              var innerTranslate = slideProgress * innerOffset;
              swiper.slides[i].querySelector(".slide-inner").style.transform =
                "translate3d(" + innerTranslate + "px, 0, 0)";
            }
          },
        

          touchStart: function () {
            var swiper = this;
            for (var i = 0; i < swiper.slides.length; i++) {
              swiper.slides[i].style.transition = "";
            }
          },

          setTransition: function (speed) {
            var swiper = this;
            for (var i = 0; i < swiper.slides.length; i++) {
              swiper.slides[i].style.transition = speed + "ms";
              swiper.slides[i].querySelector(".slide-inner").style.transition =
                speed + "ms";
            }
          }
        }
      };

      var swiper = new Swiper(".swiper-container", swiperOptions);

      var sliderBgSetting = $(".slide-bg-image");
      sliderBgSetting.each(function (indx) {
        if ($(this).attr("data-background")) {
          $(this).css("background-image", "url(" + $(this).data("background") + ")");
        }
      });

      const swiperMultipleSlides = document.querySelector('#swiper-multiple-slides');
      const SliderCategorias = document.querySelector('#categories-multiple-slides');

      if (swiperMultipleSlides) {
        new Swiper(swiperMultipleSlides, {
          slidesPerView: 5,
          spaceBetween: 30,
          loop: true,
          autoplay: false,
          pagination: {
            clickable: true,
            el: '.swiper-pagination-products'
          },
          breakpoints: {

            768: {
              slidesPerView: 1,
              stage: 2,

            }
          }
        });
      }

      if (SliderCategorias) {
        new Swiper(SliderCategorias, {
          slidesPerView: 5,
          spaceBetween: 30,
          loop: true,
          autoplay: false,
          pagination: {
            clickable: true,
            el: '.swiper-pagination-products'
          },
          breakpoints: {
            768: {
              slidesPerView: 2,
              stage: 2,

            }
          }
        });
      }
      document.getElementById('shareBtn').addEventListener('click', async () => {
        try {
          await navigator.share({
            title: 'Título del contenido compartido',
            text: 'Descripción o texto del contenido compartido',
            url: 'URL del contenido a compartir',
          });
          console.log('Contenido compartido exitosamente');
        } catch (error) {
          console.error('Error al compartir:', error.message);
        }
      });

      const button_whatsapp = document.querySelectorAll('.btn-actions-catalog');

      button_whatsapp.forEach(button => {
        button.addEventListener('click', () => {
          const phone = button.getAttribute('data-number');
          const title = button.getAttribute('data-title');
          const price = button.getAttribute('data-price');

          if (phone && title && price) {
            const message = `Hola, estoy interesado en comprar *${title}* al precio de S/ ${price}. ¿Podría proporcionar más detalles?`;
            const whatsappLink = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;
            window.open(whatsappLink, '_blank');
          } else {
            console.error('Required data attributes not found');
          }
        });
      });


    </script>
</body>
</html>