<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title> <%- GetInfo.title %> | <%- GetInfo.slogan %> </title>
  <link rel="stylesheet" href="/styles?v=<%-v%>12" />
  <link rel="stylesheet" href="/css/style.css?v=<%-v%>12">
  <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css">
  <link rel="stylesheet" as="style" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
  <meta name="description" content="<%- GetInfo.meta_description %>">
  <meta name="keywords" content="<%- GetInfo.meta_keyword %>">
  <meta name="author" content="<%- GetInfo.title %>">
  <meta name="robots" content="index, follow">
  <meta name="referrer" content="no-referrer-when-downgrade">
  <meta name="theme" content="<%- GetInfo.theme %>">
  <meta name="domain" content="<%- GetInfo.domain %>">
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-3S40H8Q0BG"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-3S40H8Q0BG');
  </script>

  <style>
    :root {
      --primary-color: <%- GetInfo.colors[0] %>;
      --secondary-color: <%- GetInfo.colors[1] %>;
      --accent-color: <%- GetInfo.colors[2] %>;

      --primary-chat: #f16808;
      --second-chat: #f16808;
      --accent-chat: #ffffff;
    }

    .social-links svg {
      width: 25px;
    }

    .product_detail .icon-cart-mini svg {
      fill: var(--primary-color);
    }

    .product_detail .icon-cart-mini {
      background-color: transparent;
    }

    #chatContainer img {
      width: 70px;
      height: 70px;
      object-fit: cover;
      border-radius: 10px;
      border: 3px solid #c4dae6;
    }
  </style>
</head>

<body class="<%- contentTemplate %>">

  <div class="page">

    <div class="page-wrapper">
      <div class="page-body mt-3">
        <div class="px-2 mb-3 container-fluid">
          <div class="adds-creceidea-pe rounded-2xl">
            Crea tu catálogo en CRECEIDEA.PE
            <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M12 8.25L15.75 12M15.75 12L12 15.75M15.75 12H8.25M21.75 12C21.75 17.3848 17.3848 21.75 12 21.75C6.61522 21.75 2.25 17.3848 2.25 12C2.25 6.61522 6.61522 2.25 12 2.25C17.3848 2.25 21.75 6.61522 21.75 12Z" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
          </div>
        </div>
        <div class="ml-3  mr-3"> <%- include('header') %></div>
        <section class="container-fluid">
          <%- include('parts/' + contentTemplate) %>
        </section>
        <%- include('footer') %>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/dist/js/swiper.min.js"></script>
    <% if (GetInfo.type_store=="product" ) { %>
      <script type="module" src="/dist/js/functions.js?v=<%-v%>"></script>
      <% } %>
        <script>
          var menu = [];
          jQuery('.swiper-slide').each(function (index) {
            menu.push(jQuery(this).find('.slide-inner').attr("data-text"));
          });
          var interleaveOffset = 0.5;
          var swiperOptions = {
            loop: true,
            speed: 1000,
            parallax: true,
            autoplay: {
              delay: 6500,
              disableOnInteraction: false,
            },
            watchSlidesProgress: true,
            pagination: {
              el: '.swiper-pagination',
              clickable: true,
            },

            navigation: {
              nextEl: '.swiper-button-next',
              prevEl: '.swiper-button-prev',
            },

            on: {
              progress: function () {
                var swiper = this;
                for (var i = 0; i < swiper.slides.length; i++) {
                  var slideProgress = swiper.slides[i].progress;
                  var innerOffset = swiper.width * interleaveOffset;
                  var innerTranslate = slideProgress * innerOffset;
                  swiper.slides[i].querySelector(".slide-inner").style.transform =
                    "translate3d(" + innerTranslate + "px, 0, 0)";
                }
              },

              touchStart: function () {
                var swiper = this;
                for (var i = 0; i < swiper.slides.length; i++) {
                  swiper.slides[i].style.transition = "";
                }
              },

              setTransition: function (speed) {
                var swiper = this;
                for (var i = 0; i < swiper.slides.length; i++) {
                  swiper.slides[i].style.transition = speed + "ms";
                  swiper.slides[i].querySelector(".slide-inner").style.transition =
                    speed + "ms";
                }
              }
            }
          };

          var swiper = new Swiper(".swiper-container", swiperOptions);

          var sliderBgSetting = $(".slide-bg-image");
          sliderBgSetting.each(function (indx) {
            if ($(this).attr("data-background")) {
              $(this).css("background-image", "url(" + $(this).data("background") + ")");
            }
          });

          const swiperMultipleSlides = document.querySelector('#swiper-multiple-slides');
          const SliderCategorias = document.querySelector('#categories-multiple-slides');

          if (swiperMultipleSlides) {
            new Swiper(swiperMultipleSlides, {
              slidesPerView: 5,
              spaceBetween: 30,
              loop: false,
              autoplay: false,
              pagination: {
                clickable: true,
                el: '.swiper-pagination-products'
              },
              breakpoints: {

                768: {
                  slidesPerView: 1,
                  stage: 2,

                }
              }
            });
          }

          if (SliderCategorias) {
            new Swiper(SliderCategorias, {
              slidesPerView: 5,
              spaceBetween: 30,
              loop: false,
              autoplay: false,
              pagination: {
                clickable: true,
                el: '.swiper-pagination-products'
              },
              breakpoints: {
                768: {
                  slidesPerView: 2,
                  stage: 2,

                }
              }
            });
          }
          /*
                document.getElementById('shareBtn').addEventListener('click', async () => {
                  try {
                    await navigator.share({
                      title: '<%- GetInfo.title %>',
                      text: '<%- GetInfo.meta_description %>',
                      url: 'URL del contenido a compartir',
                    });
                    console.log('Contenido compartido exitosamente');
                  } catch (error) {
                    console.error('Error al compartir:', error.message);
                  }
                });
          */
          const button_whatsapp = document.querySelectorAll('#btn-actions-whatsapp');

          button_whatsapp.forEach(button => {
            button.addEventListener('click', () => {
              const phone = "<%- GetInfo.catalogo.whatsapp['number'] %>";
              const title = button.getAttribute('data-title');
              const price = button.getAttribute('data-price');

              if (phone && title && price) {
                const message = `Hola, estoy interesado en *${title}*. ¿Podría proporcionar más detalles?`;
                const whatsappLink = `https://wa.me/${phone}?text=${encodeURIComponent(message)}`;

                let a = document.createElement('a');
                a.href = whatsappLink;
                a.target = '_blank';
                document.body.appendChild(a);
                a.click();

              } else {
                console.error('Required data attributes not found');
              }
            });
          });


        </script>
</body>


<div id="custom-modal" class="hidden fixed inset-0 z-[9999]" aria-labelledby="modal-title" role="dialog"
  aria-modal="true">
  <div class="fixed inset-0 bg-[#e5edef] backdrop-blur bg-opacity-85 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">

    <div class="flex min-h-full justify-center p-4 text-center sm:items-center sm:p-0">

      <div class="modal-content relative transform  w-full  transition-all sm:my-8 sm:w-full sm:max-w-3xl">
        <h3 class="modal-title text-base font-semibold text-gray-900" id="modal-title"></h3>
        <div
          class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4 rounded-lg bg-gradient-to-r from-orange-600 to-sky-900 text-left shadow-sm overflow-hidden mb-3">

          <div id="cart-summary" class="cart-summary text-white w-full"></div>

        </div>
        <div class="rounded-lg bg-white text-left shadow-md overflow-hidden">
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <div class="sm:flex sm:items-start">

              <div
                class="icon-container mx-auto d-none hidden flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              </div>
              <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">

                <div class="modal-body mt-2 text-sm text-gray-500">
                  <div id="product-list" class="product-list w-full"></div>

                </div>
              </div>
            </div>
          </div>

          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button id="modal-confirm-btn" type="button"
              class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">Confirmar
              compra</button>
            <button id="modal-cancel-btn" type="button"
              class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:mt-0 sm:w-auto">Seguir
              comprando</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div id="form-shopping" class="hidden fixed inset-0 z-[9999]" aria-labelledby="modal-title" role="dialog"
  aria-modal="true">
  <div class="fixed inset-0 bg-[#e5edef] backdrop-blur bg-opacity-85 transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">

    <div class="flex min-h-full items-start  justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="modal-content relative transform w-full  transition-all sm:my-8 sm:w-full sm:max-w-3xl">

        <div class="sm:flex sm:items-start">
          <div
            class="icon-container mx-auto d-none hidden flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full sm:mx-0 sm:h-10 sm:w-10">
          </div>
          <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left w-full">
            <h3 class="modal-title text-xl font-semibold text-gray-900" id="modal-title"></h3>
            <div class="modal-body mt-2 text-sm ">

              <div
                class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4 rounded-lg bg-gradient-to-r from-orange-600 to-sky-900 text-left shadow-sm overflow-hidden mb-3">
                <div class="summary-checkout flex text-xl justify-between">
                  <div class="subtotal text-white"></div>
                  <div class="cant-items text-white"></div>
                </div>
              </div>

              <div class="rounded-lg bg-white text-left shadow-xl px-4 pb-4  pt-5 overflow-hidden">
                <div id="orderForm" class="form">

                  <label class="block mb-3">
                    <span
                      class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                      D.N.I
                    </span>
                    <input type="text" name="doc"
                      class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                      placeholder="Documento DNI" />
                  </label>

                  <label class="block  mb-3">
                    <span
                      class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                      Nombres y Apellidos
                    </span>
                    <input type="text" name="nom"
                      class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                      placeholder="Nombres y apellidos" />
                  </label>

                  <label class="block mb-3">
                    <span
                      class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                      Email
                    </span>
                    <input type="email" name="email"
                      class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                      placeholder="tucorreo@gmail.com" />
                  </label>

                  <label class="block  mb-3">
                    <span
                      class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-slate-700">
                      Celular
                    </span>
                    <input type="text" name="celular"
                      class="mt-1 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-sky-500 focus:ring-sky-500 block w-full rounded-md sm:text-sm focus:ring-1"
                      placeholder="999 888 777" />
                  </label>



                </div>

                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                  <button id="send-order-end" disabled type="button"
                    class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto">
                    Enviar Pedido</button>
                </div>

              </div>

            </div>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>

<div id="form-payment" class="hidden fixed inset-0 z-[9999]" aria-labelledby="modal-title" role="dialog"
  aria-modal="true">

  <div class="fixed inset-0 bg-[#e5edef] backdrop-blur bg-opacity-85  transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-start  justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="modal-content relative transform w-full transition-all sm:my-8 sm:w-full sm:max-w-3xl">

        <div class="w-full">
          <h3 class="modal-title text-base font-semibold text-gray-900" id="modal-title">Selecciona un Método de Pago
          </h3>

          <div class="modal-body mt-2 text-sm ">
            <div
              class="px-4 pb-4 pt-5 sm:p-6 sm:pb-4 rounded-lg bg-gradient-to-r from-orange-600 to-sky-900 text-left shadow-sm overflow-hidden mb-3">
              <div class="summary-checkout flex text-xl justify-between">
                <div class="subtotal text-white"></div>
                <div class="cant-items text-white"></div>
              </div>
            </div>
            <div class="w-full rounded-lg text-left bg-white shadow-xl overflow-hidden px-4 pb-4 pt-5 sm:p-6 sm:pb-4">


              <div class="space-y-4 mb-6">

                <!-- Opción de Pago con WhatsApp -->
                <label
                  class="flex items-center space-x-3 p-4 border border-gray-200 rounded-lg shadow-md cursor-pointer hover:bg-gray-50">
                  <input type="radio" name="paymentMethod" value="whatsapp"
                    class="form-radio text-green-500 focus:ring-green-400" />


                  <svg width="800px" class="w-6 h-6" height="800px" viewBox="0 0 24 24" version="1.1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

                    <g id="-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="Brand" transform="translate(-864.000000, -48.000000)">
                        <g id="whatsapp_fill" transform="translate(864.000000, 48.000000)">
                          <path
                            d="M24,0 L24,24 L0,24 L0,0 L24,0 Z M12.5934901,23.257841 L12.5819402,23.2595131 L12.5108777,23.2950439 L12.4918791,23.2987469 L12.4918791,23.2987469 L12.4767152,23.2950439 L12.4056548,23.2595131 C12.3958229,23.2563662 12.3870493,23.2590235 12.3821421,23.2649074 L12.3780323,23.275831 L12.360941,23.7031097 L12.3658947,23.7234994 L12.3769048,23.7357139 L12.4804777,23.8096931 L12.4953491,23.8136134 L12.4953491,23.8136134 L12.5071152,23.8096931 L12.6106902,23.7357139 L12.6232938,23.7196733 L12.6232938,23.7196733 L12.6266527,23.7031097 L12.609561,23.275831 C12.6075724,23.2657013 12.6010112,23.2592993 12.5934901,23.257841 L12.5934901,23.257841 Z M12.8583906,23.1452862 L12.8445485,23.1473072 L12.6598443,23.2396597 L12.6498822,23.2499052 L12.6498822,23.2499052 L12.6471943,23.2611114 L12.6650943,23.6906389 L12.6699349,23.7034178 L12.6699349,23.7034178 L12.678386,23.7104931 L12.8793402,23.8032389 C12.8914285,23.8068999 12.9022333,23.8029875 12.9078286,23.7952264 L12.9118235,23.7811639 L12.8776777,23.1665331 C12.8752882,23.1545897 12.8674102,23.1470016 12.8583906,23.1452862 L12.8583906,23.1452862 Z M12.1430473,23.1473072 C12.1332178,23.1423925 12.1221763,23.1452606 12.1156365,23.1525954 L12.1099173,23.1665331 L12.0757714,23.7811639 C12.0751323,23.7926639 12.0828099,23.8018602 12.0926481,23.8045676 L12.108256,23.8032389 L12.3092106,23.7104931 L12.3186497,23.7024347 L12.3186497,23.7024347 L12.3225043,23.6906389 L12.340401,23.2611114 L12.337245,23.2485176 L12.337245,23.2485176 L12.3277531,23.2396597 L12.1430473,23.1473072 Z"
                            id="MingCute" fill-rule="nonzero">

                          </path>
                          <path
                            d="M12,2 C6.47715,2 2,6.47715 2,12 C2,13.8896 2.52505,15.6594 3.43756,17.1683 L2.54581,20.2002 C2.32023,20.9672 3.03284,21.6798 3.79975,21.4542 L6.83171,20.5624 C8.34058,21.475 10.1104,22 12,22 C17.5228,22 22,17.5228 22,12 C22,6.47715 17.5228,2 12,2 Z M9.73821,14.2627 C11.7607,16.2852 13.692,16.5518 14.3739,16.5769 C15.4111,16.6151 16.421,15.823 16.8147,14.9042 C16.9112,14.6792 16.8871,14.4085 16.7255,14.2014 C16.1782,13.5005 15.4373,12.9983 14.7134,12.4984 C14.4006,12.282 13.9705,12.349 13.7401,12.6555 L13.1394,13.5706 C13.0727,13.6721 12.9402,13.707 12.8348,13.6467 C12.4283,13.4143 11.8356,13.018 11.4092,12.5916 C10.9833,12.1657 10.6111,11.5998 10.4022,11.2195 C10.3473,11.1195 10.3777,10.996 10.4692,10.928 L11.3927,10.2422 C11.6681,10.0038 11.7165,9.59887 11.5138,9.30228 C11.065,8.64569 10.5422,7.8112 9.7855,7.25926 C9.57883,7.1085 9.3174,7.09158 9.10155,7.18408 C8.1817,7.5783 7.38574,8.58789 7.42398,9.62695 C7.44908,10.3089 7.71572,12.2402 9.73821,14.2627 Z"
                            id="形状" fill="#09244B">

                          </path>
                        </g>
                      </g>
                    </g>
                  </svg>

                  <span class="text-gray-900 font-medium">Pagar con WhatsApp</span>
                </label>

                <!-- Opción de Pago con Tarjeta de Crédito -->
                <label style="display: none !important;"
                  class="flex items-center none d-none  space-x-3 p-4 border border-gray-200 rounded-lg shadow-md cursor-pointer hover:bg-gray-50">
                  <input type="radio" name="paymentMethod" value="creditCard"
                    class="form-radio text-blue-500 focus:ring-blue-400" />
                  <img src="https://upload.wikimedia.org/wikipedia/commons/4/41/Visa_Logo.png" alt="Visa"
                    class="w-6 h-6">
                  <span class="text-gray-900 font-medium">Pagar con Tarjeta de Crédito</span>
                </label>

                <!-- Agregar más métodos de pago aquí si es necesario -->

              </div>

              <button type="button" disabled id="payment-process"
                class="w-full px-4 py-2 text-white bg-green-500 rounded-lg shadow-md hover:bg-green-600 transition duration-150 ease-in-out">
                Pagar
              </button>
            </div>

          </div>
        </div>

      </div>

    </div>

  </div>

</div>

<div id="loader" class="hidden fixed inset-0 z-[99999]" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="fixed inset-0 bg-[#e5edef] backdrop-blur bg-opacity-85  transition-opacity"></div>
  <div class="fixed inset-0 z-10 overflow-y-auto">
    <div class="flex min-h-full items-start  justify-center p-4 text-center sm:items-center sm:p-0">
      <div class="modal-content relative transform w-full transition-all sm:my-8 sm:w-full sm:max-w-3xl">
        <div class="modal-body text-center text-sm flex justify-center ">
          <img src="https://media-static.creceidea.pe/images/loader-creceidea.gif" class="brightness-[1%] opacity-75"
            width="45px">
        </div>
      </div>
    </div>
  </div>
</div>

<div id="notification"
  class="fixed bottom-4 right-3 hidden p-4 z-[9999] max-w-md bg-green-600/80 backdrop-blur-sm text-white rounded-lg shadow-lg flex items-center space-x-4 transition-transform transform translate-y-20 opacity-0">
  <img id="notification-image" src="" alt="Producto" class="w-[50px] h-[50px] border-2 rounded-full object-cover">
  <div>
    <strong class="block text-md font-bold">Producto añadido</strong>
    <p id="notification-message" class="text-sm">Producto agregado al carrito.</p>
  </div>
  <button id="open-cart-btn"
    class="bg-green-800 hover:bg-green-700 text-white font-semibold py-1 px-3 rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
    Ver carrito
  </button>
</div>

<div class="floating_btn">
  <a target="_blank" href="https://wa.me/<%- GetInfo.catalogo.whatsapp['number'] %>?text=Hola,%20quiero%20más%20información">
    <div class="contact_icon">
      <svg xmlns="http://www.w3.org/2000/svg" shape-rendering="geometricPrecision" text-rendering="geometricPrecision" image-rendering="optimizeQuality" fill-rule="evenodd" clip-rule="evenodd" viewBox="0 0 510 512.459"><path fill="#ffffff" d="M435.689 74.468C387.754 26.471 324 .025 256.071 0 116.098 0 2.18 113.906 2.131 253.916c-.024 44.758 11.677 88.445 33.898 126.946L0 512.459l134.617-35.311c37.087 20.238 78.85 30.891 121.345 30.903h.109c139.949 0 253.88-113.917 253.928-253.928.024-67.855-26.361-131.645-74.31-179.643v-.012zm-179.618 390.7h-.085c-37.868-.011-75.016-10.192-107.428-29.417l-7.707-4.577-79.886 20.953 21.32-77.889-5.017-7.987c-21.125-33.605-32.29-72.447-32.266-112.322.049-116.366 94.729-211.046 211.155-211.046 56.373.025 109.364 22.003 149.214 61.903 39.853 39.888 61.781 92.927 61.757 149.313-.05 116.377-94.728 211.058-211.057 211.058v.011zm115.768-158.067c-6.344-3.178-37.537-18.52-43.358-20.639-5.82-2.119-10.044-3.177-14.27 3.178-4.225 6.357-16.388 20.651-20.09 24.875-3.702 4.238-7.403 4.762-13.747 1.583-6.343-3.178-26.787-9.874-51.029-31.487-18.86-16.827-31.597-37.598-35.297-43.955-3.702-6.355-.39-9.789 2.775-12.943 2.849-2.848 6.344-7.414 9.522-11.116s4.225-6.355 6.343-10.581c2.12-4.238 1.06-7.937-.522-11.117-1.584-3.177-14.271-34.409-19.568-47.108-5.151-12.37-10.385-10.69-14.269-10.897-3.703-.183-7.927-.219-12.164-.219s-11.105 1.582-16.925 7.939c-5.82 6.354-22.209 21.709-22.209 52.927 0 31.22 22.733 61.405 25.911 65.642 3.177 4.237 44.745 68.318 108.389 95.812 15.135 6.538 26.957 10.446 36.175 13.368 15.196 4.834 29.027 4.153 39.96 2.52 12.19-1.825 37.54-15.353 42.824-30.172 5.283-14.818 5.283-27.529 3.701-30.172-1.582-2.641-5.819-4.237-12.163-7.414l.011-.024z"/></svg>
    </div>
  </a>
</div>

</html>