<section class="banner-catalog" style="background-image: url('<%- infoPage.image_default %>'); background-size: cover; background-position: top left; background-attachment: scroll;">
    <div class="logo-header">
        <a href="/">
            <img style="height: 70px;display: block;margin: auto;margin-top: 10px;object-fit: cover;width: 160px;"
                src="<%- GetInfo.logo %>" alt="">
        </a>
    </div>
    <div class="banner-container">
        <div class="inner-banner" >
            <h2 class="titulo-catalog"><%- infoPage.title %> </h2>
        </div>
    </div>
</section>
<%- include('./navbar', { navbar: navbar }) %>
    <section class="container-xxl pt-4">
        <div class="container-page">
            <div class="row">
                <div class="col-12">
                    <div id="editorjs"></div>
                </div>
            </div>
        </div>
    </section>

    <textarea class="d-none hidden" type="text" name=""
        id="information"><%- JSON.stringify(infoPage.content) %></textarea>

    <script src="https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/image@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/header@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/delimiter@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/list@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/@editorjs/checklist@latest"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function () {
            const body = JSON.parse(document.getElementById('information').value.trim());

            const editor = new EditorJS({
                readOnly: true,
                tools: {
                    image: ImageTool,
                    header: Header,
                    list: List,
                    checklist: Checklist,
                },
                data: body
            });
        });
    </script>